.article-body {
	padding-top: 140px;
	padding-bottom: 70px;

	.metadata {
		&__item {
			margin-bottom: 35px;
		}
		&__tag {
			display: block;
			margin-bottom: 7px;
		}
		&__author {
			font-family: $font-primary;
			color: $brand-brown;
			text-transform: initial;
			margin-left: 6px;
			font-size: 15px;
			letter-spacing: 0.006em;
		}
	}
	.introduction {
		h4 {
			float: left;
			line-height: 28px;
			margin-right: 12px;
		}
	}
}