$size: 30;

.article-button {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	width: #{$size + 'px'};
	height: #{$size + 'px'};

	background-color: white;

	mix-blend-mode: lighten;
	background-color: black;
	color: black;

	// background-image: url('../img/forest.jpg');
	// background-size: 100vw;
	// background-position: -50vw 0;

	font-size: 24px;

	cursor: pointer;

	.iconcss {
		&--yellow {
			&:before {
				background-color: darken($brand-yellow, 12%);
				box-shadow: -3px -3px 0 6px darken($brand-yellow, 12%);
			}
		}
		&--green {
			&:before {
				background-color: darken($brand-green, 12%);
				box-shadow: -3px -3px 0 6px darken($brand-green, 12%);
			}
		}
		&--red {
			&:before {
				background-color: darken($brand-orange, 12%);
				box-shadow: -3px -3px 0 6px darken($brand-orange, 12%);
			}
		}
	}	

	&--disabled {
		cursor: auto;
		.iconcss {
			&:before {
				// opacity: 0.8;
				background-color: $brand-grey-darkest;
				box-shadow: -3px -3px 0 6px $brand-grey-darkest;
			}
		}
	}

	&--hidden {
		display: none;
	}
}