@font-face {
	font-family: 'Copernicus';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Copernicus/Copernicus-Heavy.eot');
	src: url('../fonts/Copernicus/Copernicus-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Copernicus/Copernicus-Heavy.woff2') format('woff2'), 
	url('../fonts/Copernicus/Copernicus-Heavy.woff') format('woff'), 
	url('../fonts/Copernicus/Copernicus-Heavy.ttf') format('truetype'),
	url('../fonts/Copernicus/Copernicus-Heavy.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Palatino';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Palatino/Palatino-Roman.eot');
	src: url('../fonts/Palatino/Palatino-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Palatino/Palatino-Roman.woff2') format('woff2'), 
	url('../fonts/Palatino/Palatino-Roman.woff') format('woff'), 
	url('../fonts/Palatino/Palatino-Roman.ttf') format('truetype'),
	url('../fonts/Palatino/Palatino-Roman.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Futura Std';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Futura/FuturaStd-Medium.eot');
	src: url('../fonts/Futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Futura/FuturaStd-Medium.woff2') format('woff2'), 
	url('../fonts/Futura/FuturaStd-Medium.woff') format('woff'), 
	url('../fonts/Futura/FuturaStd-Medium.ttf') format('truetype'),
	url('../fonts/Futura/FuturaStd-Medium.svg#codropsicons') format('svg');
}

@font-face {
	font-family: 'Futura Std';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Futura/FuturaStd-Book.eot');
	src: url('../fonts/Futura/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Futura/FuturaStd-Book.woff2') format('woff2'), 
	url('../fonts/Futura/FuturaStd-Book.woff') format('woff'), 
	url('../fonts/Futura/FuturaStd-Book.ttf') format('truetype'),
	url('../fonts/Futura/FuturaStd-Book.svg#codropsicons') format('svg');
}
