.grid {
	display: flex;
	flex-direction: row;
	padding: 0 70px;

	&__item {
		display: flex;
		flex-direction: column;

		&--col-1 {
			width: 12.5%;
		}

		&--col-2 {
			width: 25%;
		}

		&--col-3 {
			width: 37.5%;
		}

		&--col-4 {
			width: 50%;
		}

		&--col-5 {
			width: 62.5%;
		}
	}
}