 @media screen and (max-width: $bp-small) {
    .editable-title {
      margin-left: -30px;
    }
    .article-jumbotron {
      min-height: 600px;
    }
    .article-body {
      flex-direction: column-reverse;

      .introduction {
        h4 {
          max-height: 24px;
        }
      }
    }
    .grid {
      padding: 0 30px;

      &__item {
        &--hide-bp-small {
          display: none;
        }   
        &--col-8-small {
          width: 100%;
        }   
      }
    }
    h1 {
      font-size: 48px;
    }
    blockquote {
      font-size: 28px;
    }
    h2 {
      font-size: 32px;
      letter-spacing: 0.006em;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 17px;
    }
  }