body {
  font-family: $font-body;
  color: $brand-black;
}

h1 {
  color: white;
  font-size: 72px;
  font-family: $font-primary;
  letter-spacing: -0.006em;
}

h2 {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -0.006em;
}

h3 {
  font-size: 45px;
  line-height: 1;
  letter-spacing: -0.012em;
  font-weight: 500;
}

h4 {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.006em;
}

p {
  color: $brand-grey-darkest;
  font-family: $font-body;
  font-size: 21px;
  margin-bottom: 21px;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 12.5%;
}

hr {
  width: 100%;
  max-width: 200px;
  margin: 0;
  margin-bottom: 14px;
  height: 1px;
  border: none;
  background-color: $brand-grey-lightest;
}

span {
  font-family: $font-secondary;
  font-weight: 300;
  color: $brand-grey-light;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

blockquote {
  font-family: $font-primary;
  color: $brand-grey-blue;
  font-size: 36px;
  letter-spacing: -0.006em;
  line-height: 1.2em;
  margin: 70px 0;
  margin-right: 12.5%;
  transform: translateX(-6.25%);
}



