$bp-xlarge: 1800px;
$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 800px;
$bp-small: 600px;
$bp-xsmall: 480px;

$font-primary: 'Copernicus', sans-serif;
$font-secondary: 'Futura Std', sans-serif;
$font-body: 'Palatino', serif;

$basic-transition: all 0.2s ease-out;
$easing1: cubic-bezier(0.215, 0.61, 0.355, 1);
$easing2: cubic-bezier(.19,1,.22,1);
$easing3: cubic-bezier(0.86, 0, 0.07, 1);
$easing4: cubic-bezier(0.175, 0.885, 0.32, 1.275);


$brand-white: #F9F9F9;

$brand-tan: #9F9B86;
$brand-yellow: #F3E13B;
$brand-orange: #E56D3E;
$brand-green: #A2D05A;
$brand-brown: #6F4F31;

$brand-grey-lightest: #E5E5E5;
$brand-grey-light: #B2B2B2;
$brand-grey: #666666;
$brand-grey-mid: #CBCBCB;
$brand-grey-dark: #808080;
$brand-grey-darkest: #333333;
$brand-black: #1A1A1A;


$brand-grey-blue: #8A98A6;
