/* Vendor */
/* Vendors */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Libraries */
@font-face {
  font-family: 'Copernicus';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Copernicus/Copernicus-Heavy.eot");
  src: url("../fonts/Copernicus/Copernicus-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Copernicus/Copernicus-Heavy.woff2") format("woff2"), url("../fonts/Copernicus/Copernicus-Heavy.woff") format("woff"), url("../fonts/Copernicus/Copernicus-Heavy.ttf") format("truetype"), url("../fonts/Copernicus/Copernicus-Heavy.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Palatino';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Palatino/Palatino-Roman.eot");
  src: url("../fonts/Palatino/Palatino-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Palatino/Palatino-Roman.woff2") format("woff2"), url("../fonts/Palatino/Palatino-Roman.woff") format("woff"), url("../fonts/Palatino/Palatino-Roman.ttf") format("truetype"), url("../fonts/Palatino/Palatino-Roman.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Futura Std';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Futura/FuturaStd-Medium.eot");
  src: url("../fonts/Futura/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura/FuturaStd-Medium.woff2") format("woff2"), url("../fonts/Futura/FuturaStd-Medium.woff") format("woff"), url("../fonts/Futura/FuturaStd-Medium.ttf") format("truetype"), url("../fonts/Futura/FuturaStd-Medium.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Futura Std';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Futura/FuturaStd-Book.eot");
  src: url("../fonts/Futura/FuturaStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Futura/FuturaStd-Book.woff2") format("woff2"), url("../fonts/Futura/FuturaStd-Book.woff") format("woff"), url("../fonts/Futura/FuturaStd-Book.ttf") format("truetype"), url("../fonts/Futura/FuturaStd-Book.svg#codropsicons") format("svg"); }

/* SASS partial for grunt-webfont, autogenerated, do not edit! */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.iconcss {
  font-family: "icons";
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hamburger:before {
  content: "\EA01"; }

.icon-logo:before {
  content: "\EA02"; }

.icon-pencil:before {
  content: "\EA03"; }

.icon-check:before {
  content: "\EA04"; }

.icon-close:before {
  content: "\EA05"; }

.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 70px; }
  .grid__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
    .grid__item--col-1 {
      width: 12.5%; }
    .grid__item--col-2 {
      width: 25%; }
    .grid__item--col-3 {
      width: 37.5%; }
    .grid__item--col-4 {
      width: 50%; }
    .grid__item--col-5 {
      width: 62.5%; }

body {
  font-family: "Palatino", serif;
  color: #1A1A1A; }

h1 {
  color: white;
  font-size: 72px;
  font-family: "Copernicus", sans-serif;
  letter-spacing: -0.006em; }

h2 {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -0.006em; }

h3 {
  font-size: 45px;
  line-height: 1;
  letter-spacing: -0.012em;
  font-weight: 500; }

h4 {
  font-family: "Futura Std", sans-serif;
  font-weight: 300;
  color: #B2B2B2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  display: inline; }

p {
  color: #333333;
  font-family: "Palatino", serif;
  font-size: 19px;
  margin-bottom: 19px;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 12.5%; }

hr {
  width: 100%;
  max-width: 200px;
  margin: 0;
  margin-bottom: 14px;
  height: 1px;
  border: none;
  background-color: #E5E5E5; }

blockquote {
  font-family: "Copernicus", sans-serif;
  color: #8A98A6;
  font-size: 36px;
  letter-spacing: -0.006em;
  line-height: 1.2em;
  margin: 70px 0;
  margin-right: 12.5%;
  -ms-transform: translateX(-6.25%);
  transform: translateX(-6.25%); }

input {
  font-family: "Copernicus", sans-serif;
  color: #1A1A1A;
  outline: none;
  background-color: #F9F9F9;
  border: solid 1px #CBCBCB;
  font-size: 42px;
  width: 100%;
  padding: 6px 12px; }

* {
  box-sizing: border-box; }

body {
  -webkit-overflow-scrolling: touch; }

/* Modules */
.article-body {
  padding-top: 140px;
  padding-bottom: 70px; }
  .article-body .metadata__item {
    margin-bottom: 35px; }
  .article-body .metadata__tag {
    display: block;
    margin-bottom: 7px; }
  .article-body .metadata__author {
    font-family: "Copernicus", sans-serif;
    color: #6F4F31;
    text-transform: initial;
    margin-left: 6px;
    font-size: 15px;
    letter-spacing: 0.006em; }
  .article-body .introduction h4 {
    float: left;
    line-height: 28px;
    margin-right: 12px; }

.article-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-color: white;
  mix-blend-mode: lighten;
  background-color: black;
  color: black;
  font-size: 24px;
  cursor: pointer; }
  .article-button .iconcss--yellow:before {
    background-color: #e3ce0e;
    box-shadow: -3px -3px 0 6px #e3ce0e; }
  .article-button .iconcss--green:before {
    background-color: #85b834;
    box-shadow: -3px -3px 0 6px #85b834; }
  .article-button .iconcss--red:before {
    background-color: #cb4d1b;
    box-shadow: -3px -3px 0 6px #cb4d1b; }
  .article-button--disabled {
    cursor: auto; }
    .article-button--disabled .iconcss:before {
      background-color: #333333;
      box-shadow: -3px -3px 0 6px #333333; }
  .article-button--hidden {
    display: none; }

.article-header {
  position: absolute;
  height: 90px;
  width: 100%;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .article-header .grid__item {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-direction: row;
    flex-direction: row; }
  .article-header .iconcss {
    font-size: 15px; }
  .article-header .icon-logo {
    color: #F9F9F9;
    margin-right: 18px; }
  .article-header .icon-hamburger {
    color: #9F9B86; }

.article-jumbotron {
  height: 90vh;
  background-image: url("../img/forest.jpg");
  background-size: cover;
  background-position: bottom;
  -ms-flex-align: end;
  align-items: flex-end; }

.editable-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: -34px;
  height: 360px; }
  .editable-title__controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
  .editable-title__main {
    margin-left: 30px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .editable-title__editor {
    display: none;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    padding: 12px; }
  .editable-title__slug {
    margin: 12px 0 0 9px; }
    .editable-title__slug h4 {
      display: inline;
      font-family: "Futura Std", sans-serif;
      font-weight: 300;
      font-size: 14px;
      text-transform: lowercase;
      color: #B2B2B2; }
      .editable-title__slug h4 ~ h4 {
        margin-left: 3px;
        color: #666666; }
  .editable-title h1 span {
    background-color: white;
    color: black;
    line-height: 1.1em;
    mix-blend-mode: screen; }
    .editable-title h1 span::-moz-selection {
      background-color: white;
      color: black; }
    .editable-title h1 span::selection {
      background-color: white;
      color: black; }
  .editable-title--is-editing .article-button:last-child {
    margin-top: 1px; }
  .editable-title--is-editing .editable-title__editor {
    display: -ms-flexbox;
    display: flex; }
  .editable-title--is-editing h1 {
    display: none; }

.video-container {
  z-index: 2; }

.control-bar {
  z-index: 15; }

.ai-preview {
  z-index: 14; }

.ai-full {
  z-index: 15; }

.progress-bar {
  z-index: 15; }

.volume-control {
  z-index: 30; }

.next-dialog {
  z-index: 30; }

.quick-preview {
  z-index: 40; }

.pause-card {
  z-index: 5; }

.loading-card {
  z-index: 6; }

.cover-img {
  z-index: 3; }

.cc-card {
  z-index: 50; }

.video-end-card {
  z-index: 60; }

.squeeze-card {
  z-index: 1; }

.squeeze-card--end {
  z-index: 10; }

.hover-dialog__dialog {
  z-index: 100; }

.share-card {
  z-index: 15; }

.share-trigger {
  z-index: 101; }

.ad-roll__overlay {
  z-index: 102; }

/* Responsive */
@media screen and (max-width: 800px) {
  .grid {
    padding: 0 30px; }
    .grid__item--hide-bp-small {
      display: none; }
    .grid__item--col-8-small {
      width: 100%; }
  .editable-title {
    margin-left: -30px; }
  .article-jumbotron {
    height: 60vh; }
  .article-body {
    padding: 60px 30px;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .article-body .introduction h4 {
      max-height: 24px;
      margin-top: 12px; }
    .article-body .metadata {
      margin-top: 30px; }
  h1 {
    font-size: 48px; }
  blockquote {
    margin: 30px 0;
    font-size: 28px;
    -ms-transform: none;
    transform: none; }
  h2 {
    font-size: 32px;
    letter-spacing: 0.006em; }
  input {
    font-size: 32px; }
  h3 {
    font-size: 32px; }
  h4 {
    font-size: 12px; }
  p {
    font-size: 17px; } }

/*# sourceMappingURL=styles.css.map */
